# -*- mode: conf; -*-
[core]
        editor = env TERM=xterm-256color emacs -nw
        excludesfile = /Users/tulloch/.gitignore.global
	deltaBaseCacheLimit = 1G
        # pager = less -F -X

[alias]
        # Common shortcuts
        co = checkout
        ci = commit
        st = status
        br = branch
        lg = log --graph --pretty=format:'%C(magenta)%h%Creset -%C(yellow)%d%Creset %s %C(green)(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
        amend = commit --amend
	g = grep --break --heading --line-number

[user]
        name = Andrew Tulloch
        email = andrew@tullo.ch

[color]
        diff = auto
        status = auto
        branch = auto

[log]
        # date = relative

[diff]
        algorithm = patience

[credential]
        helper = osxkeychain

[commit]
        template = /Users/tulloch/.gitcommit.template

[include]
        path = ~/.gitconfig-private
[github]
	user = ajtulloch
	token = 
[push]
	default = simple
[gui]
	fontdiff = -family \"Source Code Pro\" -size 11 -weight normal -slant roman -underline 0 -overstrike 0
