vim/.netrwhist
emacs/ac-comphist.dat
emacs/.smex-items
emacs/auto-save-list/
emacs/backups/
emacs/elpa/archives/
emacs/eshell/history
emacs/eshell/
emacs/eshell/lastdir
emacs/places
emacs/projectile-bookmarks.eld
emacs/request/curl-cookie-jaremacs/.rtm-auth-token
/emacs/.rtm-auth-token
/emacs/url/cookies
/emacs/request/
